## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [1]:
import pandas as pd

In [2]:
# load dataset
data = pd.read_csv("./data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [4]:
sex_count = data['sex'].value_counts()
sex_count

Male      21790
Female    10771
Name: sex, dtype: int64

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [7]:
avg_age_men = data['age'].where(data['sex'] == 'Male').mean()
print(f'average age(men): {avg_age_men}')

average age(men): 39.43354749885268

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [9]:
usa_percentage = data['native-country'].where(data['native-country'] == 'United-States').count() / data['native-country'].count() * 100
print(f'percentage of citizens(USA): {usa_percentage} %')

percentage of citizens(USA): 89.5857006848684 %

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [12]:
age_salary_over = data['age'].where(data['salary']=='>50K')
avg_salary_over = age_salary_over.mean()
std_salary_over = age_salary_over.std()
print(f'average age - salary over 50K:\n*average age: {avg_salary_over}\n*standart deviation: {std_salary_over}\n')

age_salary_less = data['age'].where(data['salary']=='<=50K')
avg_salary_less = age_salary_less.mean()
std_salary_less = age_salary_less.std()
print(f'average age - salary less than 50K:\n*average age: {avg_salary_less}\n*standart deviation: {std_salary_less}')

average age - salary over 50K:
*average age: 44.24984058155847
*standart deviation: 10.519027719851826

average age - salary less than 50K:
*average age: 36.78373786407767
*standart deviation: 14.02008849082488

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [18]:
edu_salary_over = data['education'].where(data['salary'] == '>50K')

high_edu_list = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']
high_edu_salary_over = edu_salary_over.where(edu_salary_over.isin(high_edu_list))

print(f'true/false -> do all people with salary over 50k at least have a college degree?\n'
      f'{True if edu_salary_over.count() == high_edu_salary_over.count() else False}')

true/false -> do all people with salary over 50k at least have a college degree?
False

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

In [24]:
age_stats_by_race_sex = data.groupby(['race', 'sex'])['age'].describe()

print(f'Oldest Asian-Pac-Islander male is {age_stats_by_race_sex["max"]["Asian-Pac-Islander"]["Male"]} years old!')

age_stats_by_race_sex

Oldest Asian-Pac-Islander male is 90.0 years old!

Final Dataframe:

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [28]:
marital_status_male_over_50k = data['marital-status'].where((data['salary'] == '>50K') & (data['sex'] == 'Male'))
married_males_count = marital_status_male_over_50k.where(marital_status_male_over_50k.str.startswith('Married')).count()
single_males_count = marital_status_male_over_50k.where(~marital_status_male_over_50k.str.startswith('Married', na=False)).count()
married_percentage = married_males_count / (married_males_count + single_males_count) * 100
unmarried_percentage = single_males_count / (married_males_count + single_males_count) * 100

print(f'Count of married males with over 50k salary ({married_percentage} %) '
      f'{"is less than" if married_percentage < unmarried_percentage else "is the same as" if married_percentage == unmarried_percentage else "is bigger than"} '
      f'the count of unmarried males with the same salary amount ({unmarried_percentage} %)')

Count of married males with over 50k salary (89.53767637346142 %) is bigger than the count of unmarried males with the same salary amount (10.462323626538577 %)

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [31]:
maximum_hours = data['hours-per-week'].max()
people_max = data['hours-per-week'].where(data['hours-per-week'] == maximum_hours)
people_max_over_50k = people_max.where(data['salary'] == '>50K')
people_max_count = people_max.count()
people_max_over_50k_perc = people_max_over_50k.count() / people_max_count * 100

print(f'the biggest number of working hours per week: {maximum_hours}.\n'
      f'{people_max_count} people work this much hours.\n'
      f'{people_max_over_50k_perc} % of those people have salary over 50k.')

the biggest number of working hours per week: 99
85 people work this much hours.
29.411764705882355 % of those people have salary over 50k.

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [32]:
avg_working_hours = data.groupby([data['native-country'], data['salary']])['hours-per-week'].mean()

avg_working_hours

native-country  salary
?               <=50K     40.164760
                >50K      45.547945
Cambodia        <=50K     41.416667
                >50K      40.000000
Canada          <=50K     37.914634
                            ...
United-States   >50K      45.505369
Vietnam         <=50K     37.193548
                >50K      39.200000
Yugoslavia      <=50K     41.600000
                >50K      49.500000
Name: hours-per-week, Length: 82, dtype: float64

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [33]:
data['age-group'] = pd.cut(x=data['age'], bins=[16, 35, 70, 100], labels=['young', 'adult', 'retiree'])
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,age-group
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,adult
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,adult
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,adult
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,adult
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,young

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [34]:
people_count_age_over = data.where(data['salary'] == '>50K').groupby('age-group')['salary'].count()

print(f'age when people most frequently make over 50k: {people_count_age_over.idxmax()}')
people_count_age_over

age when people most frequently make over 50k: adult

age-group
young      1705
adult      6042
retiree      94
Name: salary, dtype: int64

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [35]:
occupation_type_count = data.groupby(data['occupation']).size()
occupation_type_count

occupation
?                    1843
Adm-clerical         3770
Armed-Forces            9
Craft-repair         4099
Exec-managerial      4066
Farming-fishing       994
Handlers-cleaners    1370
Machine-op-inspct    2002
Other-service        3295
Priv-house-serv       149
Prof-specialty       4140
Protective-serv       649
Sales                3650
Tech-support          928
Transport-moving     1597
dtype: int64

In [36]:
def filter_func(df):
      df = df.groupby('occupation').filter(lambda group: (group['age'].mean() < 40) & (group['hours-per-week'].min() > 5))
      return df['occupation'].unique()


filter_func(data)

array(['Armed-Forces'], dtype=object)